.botones{  
    height: 100%;
    margin-top: 200px;
}
.content{
    
    padding-left: 20%;
    padding-right: 60%;

    
}

div{
    text-align: center;
    width: 100%;
    height: auto;
}

a{
    align-content: center;
    width: 40%;
    padding-bottom: 100%;        
    
    margin-left: 37px;
    margin-right: 37px;
    margin-top: 25px;
    margin-bottom: 25px;
    
}
p{
    text-align: center;
    margin: 50px;
    
}

form h3{
    text-align: start;
}
form button{
    margin: 15%;
}